@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,800');

html {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  color: #333333;
  font-size: 10px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

html, body, #root, main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
}

main {
  display: block;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
    flex: 1;
  }
}
