.info-panel {
  position: fixed;
  left: 2.5%;
  background: white;
  width: 30%;
  min-width: 350px;
  top: 5%;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.17);
}

.info-panel__headline-container {
  background: $red;
  padding: 0.5em 1em;
  display: block;
}

.info-panel__headline {
  font-size: 2em;
  margin: 0;
  color: white;
  font-weight: 200;
  display: inline-block;
}

.info-panel__filter-btn {
  float: right;
  display: inline-block;
}
