.filter__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  padding: 1em 2em;
}

.filter__headline {
  margin: 0 0 .5em 0;
  padding: 0 0 .5em 0;
  width: 100%;
  border-bottom: 1px solid $medium-grey;
  color: $medium-grey;
  font-weight: 400;
  font-size: 1.4em;
}

.filter__input-group {
  display: inherit;
  margin-top: 10px;
  font-size: 1.4em;
  flex: 0 0 33%;
  label {
    margin-left: 5px;
  }
  &:nth-child(-n+3) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  .filter__container {
    display: block;
  }
  .filter__input-group {
    display: block;
    margin-top: 10px !important;
    width: 100%;
  }
}
