.sidebar__container {
  background: $dark-grey;
  display: block;
  text-align: center;
  height: auto;
}

.sidebar__headline {
  font-size: 2em;
  margin: 0;
  color: white;
  font-weight: 200;
  display: block;
  background: $red;
}

.sidebar__btn {
  text-transform: uppercase;
  padding: 1em;
  font-size: 1em;
  background: none;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  color: $light-grey;
  display: inline-block;
  width: auto;
  position: relative;
}

.filter-icon {
  display: block;
  width: 25px;
  fill: $light-grey;
  margin: 0 auto 5px;
}

.sidebar__primary {
  padding: 0.5em 1em;
}

.sidebar__secondary {
  background: lighten($dark-grey, 10%);
  color: $light-grey;
  font-weight: 200;
}

@media only screen and (min-width: 768px) {
  .sidebar__container {
    display: flex;
    &.show-filter {
      width: calc(20% + 75px);
      .sidebar__btn:after {
        width: 0;
        height: 0;
        content: '';
        border-top: 7px solid transparent;
        border-right: 7px solid lighten($dark-grey, 10%);
        border-bottom: 7px solid transparent;
        display: inline-block;
        position: absolute;
        right: -1em;
        top: calc(50% - 1em);
      }
      .sidebar__secondary {
        width: calc(100% - 75px);
        min-width: 200px;
      }
    }
  }

  .sidebar__primary {
    width: 75px;
  }

  .sidebar__btn {
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid $medium-grey;
    border-left: 0;
    padding: 1em 0.5em;
    display: block;
    width: 100%;
  }
  .filter-icon {
    width: 40px;
    margin: 0 auto 10px;
  }
}
