.menu-bar {
  background: $red;
  display: block;
  padding: 1em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}

.menu-bar__logo {
  font-size: 2em;
  margin: 0;
  color: white;
  font-weight: 200;

}
