.map__container {
  height: 100%;
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .map__container {
    width: calc(100% - 75px);
    &.show-filter {
      width: calc(80% - 75px);
    }
  }
}

.map {
  height: 100%;
  width: 100%;
  background: grey;
}
