.zoom__container {
  position: fixed;
  z-index: 10;
  right: 2.5%;
  bottom: 5%;
}

.zoom__btn {
  display: block;
  cursor: pointer;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  &.decrease {
    margin-top: 5px;
  }
}
