.zoom__container {
  position: absolute;
  z-index: 10;
  right: 2.5%;
  bottom: 5%;
  z-index: 20;
  transition: 300ms bottom;
  display: none;
}

@media only screen and (min-width: 768px) {
  .zoom__container {
    display: block;
  }
}

.zoom__btn {
  display: block;
  cursor: pointer;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: .75em;
  border: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: .75em;
  &.decrease {
    margin-top: 5px;
  }
  svg {
    fill: $light-grey;
  }
}
